<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <script src="/static/js/gallery.js"></script> <!-- This is how to include a static file -->
    <link rel="stylesheet" href="/static/css/gallery.css" type="text/css" />
</head>
<body>
  <div class="page-container">
    <div class="nav-container">
      <ul class="main-nav">
        <li id="home">
          <a href="/tibhomes/home">
            Home
          </a>
        </li>
        <li id="gallery">
          <a href="/tibhomes/gallery">
            Gallery
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
